# requirements.txt
streamlit
google-cloud-bigquery
google-cloud-compute
google-auth
google-adk
pandas
google-api-core
google-genai
nest-asyncio
requests
google-cloud-aiplatform
httpx
mistralai[gcp]
litellm
pydantic
streamlit-mermaid
PyGithub
python-dotenv
lxml[html_clean]
newspaper3k